
@{
}


<div id="app" class="container-fluid">
    <!-- Tabs -->
    <div class="d-flex align-items-start justify-content-sm-start">
        <div class="nav nav-pills flex-column g-2" id="navTabs" role="tablist">
            <button class="nav-link" role="tab">
                <a :class="currentTab === 'userForm' ? 'nav-link active' : 'nav-link'" @@click="this.currentTab = 'userForm'" id="user-tab" data-bs-toggle="tab" href="#userForm" aria-current="page" aria-controls="Users" aria-selected="true">User Search</a>
            </button>

            <button class="nav-link" role="tab">
                <a :class="currentTab === 'issueForm' ? 'nav-link active' : 'nav-link'" @@click="this.currentTab = 'issueForm'" id="issue-tab" data-bs-toggle="tab" href="#issueForm" aria-controls="Identity Issues" aria-selected="false">Identity Issues</a>
            </button>

            <button class="nav-link" role="tab">
                <a :class="currentTab === 'stargateForm' ? 'nav-link active' : 'nav-link'" @@click="this.currentTab = 'stargateForm'" id="issue-tab" data-bs-toggle="tab" href="#stargateForm" aria-controls="Stargate" aria-selected="false">Stargate</a>
            </button>
        </div>

        <!-- Tab Content -->
        <div id="myTabContent" :class="currentTabStyleClass">

            <!-- User Search -->
            <div id="userForm" :class="currentTab === 'userForm' ? 'tab-pane active' : 'tab-pane'" role="tabpanel" aria-labelledby="user-tab">
                <!-- User search input field -->
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="search" name="search-input" v-on:keyup.enter="searchForUsers()" v-model="currentUserSearch.searchTerm" />
                    <button class="button input-group-text" @@click="searchForUsers()">Search</button>
                </div>

                <!-- Search configuration options: pagination, result page size, clear button -->
                <div>
                    <label class="preference" for="paginatePreference">Paginate results</label>
                    <input id="paginatePreference" type="checkbox" name="paginatePreference" v-model="currentUserSearch.paginate" />
                </div>
                <div>
                    <label class="preference" for="pageSize">Result size</label>
                    <input id="pageSize" type="number" name="pageSize" v-model="currentUserSearch.pageSize" />
                </div>
                <div>
                    <label v-if="currentUserSearch.resultCount">Total Results: {{currentUserSearch.resultCount}}</label>
                    <br />
                    <label v-if="currentUserSearch.results">Results Fetched: {{currentUserSearch.results.length}}</label>
                </div>
                <div>
                    <button v-if="currentUserSearch.resultCount > 0" class="btn btn-outline-warning" @@click="clearResults()">Clear Results</button>
                </div>

                <!-- User search results -->
                <button class="btn btn-link" id="btnLoadMore" v-if="currentUserSearch.resultCount > currentUserSearch.results.length" @@click="loadMoreUserResults()">Load More</button>

                <table class="table">
                    <tr>
                        <th v-if="currentUserSearch.resultCount > 0">Issues</th>
                        <th v-for="(value, key, i) in currentUserSearch.results[0]">{{ expandOnCase(key) }}</td>
                    </tr>
                    <tr v-for="value of currentUserSearch.results" @@click="selectUserRow(value)" :key="value.id">
                        <td><button class="btn btn-outline-secondary" v-if="value.EmployeeId" @@click="this.showIssuesForUser(value.EmployeeId)">{{value.EmployeeId}}</button></td>
                        <td v-for="(val, key, i) in value">{{ val }}</td>
                    </tr>
                </table>

                <button class="btn btn-link" id="btnLoadMore" v-if="currentUserSearch.resultCount > currentUserSearch.results.length" @@click="currentUserSearch.loadNextSet()">Load More</button>
            </div>

            <!-- Issue Search -->
            <div id="issueForm" :class="currentTab === 'issueForm' ? 'tab-pane active' : 'tab-pane'" role="tabpanel" aria-labelledby="issue-tab">

                <!-- Issue search input field -->
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="search" name="search-input" v-on:keyup.enter="searchForIssues()" v-model="currentIssueSearch.searchTerm" />
                    <button class="button input-group-text" @@click="searchForIssues()">Search</button>
                </div>

                <!-- Search configuration options: pagination, result page size, clear button -->
                <div>
                    <label class="preference" for="paginatePreference">Paginate results</label>
                    <input id="paginatePreference" type="checkbox" name="paginatePreference" v-model="currentIssueSearch.paginate" />
                </div>
                <div>
                    <label class="preference" for="pageSize">Result size</label>
                    <input id="pageSize" type="number" name="pageSize" v-model="currentIssueSearch.pageSize" />
                </div>
                <div>
                    <label v-if="currentIssueSearch.resultCount">Total Results: {{currentIssueSearch.resultCount}}</label>
                    <br />
                    <label v-if="currentIssueSearch.results">Results Fetched: {{currentIssueSearch.results.length}}</label>
                </div>
                <div>
                    <button v-if="currentIssueSearch.resultCount > 0" class="btn btn-outline-warning" @@click="currentIssueSearch.clearResults()">Clear Results</button>
                </div>

                <!-- User search results -->
                <button class="btn btn-link" id="btnLoadMore" v-if="currentIssueSearch.resultCount > currentIssueSearch.results.length" @@click="currentIssueSearch.loadNextSet()">Load More</button>

                <table class="table">
                    <tr>
                        <th v-for="(value, key, i) in currentIssueSearch.results[0]">{{ expandOnCase(key) }}</td>
                    </tr>
                    <tr v-for="value of currentIssueSearch.results">
                        <td v-for="(val, key, i) in value">{{ val }}</td>
                    </tr>
                </table>

                <button class="btn btn-link" id="btnLoadMore" v-if="currentIssueSearch.resultCount > currentIssueSearch.results.length" @@click="currentIssueSearch.loadNextSet()">Load More</button>
            </div>

            <!-- Stargate Search -->
            <div id="stargateForm" :class="currentTab === 'stargateForm' ? 'tab-pane active' : 'tab-pane'" role="tabpanel" aria-labelledby="user-tab">
                <!-- User search input field -->
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="search" name="search-input" v-on:keyup.enter="searchStargate()" v-model="stargateSearch.searchTerm" />
                    <button class="button input-group-text" @@click="searchStargate()">Search</button>
                </div>

                <div style="display: grid;">
                    <div id="stargateSearch">
                        <div class="row">
                            <!-- Search configuration options: pagination, result page size, clear button -->
                            <div>
                                <label class="preference" for="paginatePreference">Paginate results</label>
                                <input id="paginatePreference" type="checkbox" name="paginatePreference" v-model="stargateSearch.paginate" />
                            </div>
                            <div>
                                <label class="preference" for="pageSize">Result size</label>
                                <input id="pageSize" type="number" name="pageSize" v-model="stargateSearch.pageSize" />
                            </div>
                            <div>
                                <label v-if="stargateSearch.resultCount">Total Results: {{stargateSearch.resultCount}}</label>
                                <br />
                                <label v-if="stargateSearch.results">Results Fetched: {{stargateSearch.results.length}}</label>
                            </div>
                            <div>
                                <button v-if="stargateSearch.resultCount > 0" class="btn btn-outline-warning"
                                        @@click="stargateSearch.clearResults()">
                                    Clear Results
                                </button>
                            </div>

                            <!-- Stargate search results -->
                            <button class="btn btn-link" id="btnLoadMore" v-if="stargateSearch.resultCount > stargateSearch.results.length"
                                    @@click="loadMoreStargateResults()">
                                Load More
                            </button>

                            <table class="table">
                                <tr>
                                    <th>Issues</th>
                                    <th v-for="(value, key, i) in stargateSearch.results[0]">{{ expandOnCase(key) }}</td>
                                </tr>
                                <tr v-for="value of stargateSearch.results">
                                    <td v-for="(val, key, i) in value">{{ val }}</td>
                                </tr>
                            </table>

                            <button class="btn btn-link" id="btnLoadMore" v-if="stargateSearch.resultCount > stargateSearch.results.length"
                                    @@click="stargateSearch.loadNextSet()">
                                Load More
                            </button>
                        </div>

                    </div>
                    <div class="row">

                        <div id="userList" class="col">
                            <p>Foo</p>
                        </div>

                        <div id="userSearch" class="col">
                            <p>Bar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!--Tab Content Column-->

        <div v-if="selectedUser" class="flex-grow-1 overflow-scroll">
            <table class="table table-responsive-sm">
                <thead>
                    <tr><td><strong>{{ selectedUser.DisplayName ? selectedUser.DisplayName : (selectedUser.PreferredGivenName + ' ' + selectedUser.PreferredSurname).trim() }}</strong></td><td></td></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key, i) in selectedUser">
                        <td>{{ expandOnCase(key) }}</td>
                        <td>{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
