@page
@model IndexModel
@{
    ViewData["Title"] = "McAttributes";
}

<div id="app">
    
    <button @@click="newIssueEntry()">New Issue</button>
    <div id="issueForm">
        <strong>Issue</strong>
        <div id="issueFields">
            
            <div class="preference form-group" v-for="(value, field, index) in currentIssue.model"> 
                <label for="issue-{{field}}">{{field}}</label>
                <input type="text" name="issue-{{field}}" 
                    id="issue-{{field}}" readonly="{{!this.currentIssue.edit}}"/>
            </div>

            
        </div>
    </div>
</div>