@page
@model IndexModel
@{
    ViewData["Title"] = "McAttributes";
}

<div id="app">
    
    <div id="userForm">
        <div>
            <label>User search</label>
            <input type="text" name="search-input" onsubmit="searchForUsers()" v-model="currentUserSearch.searchTerm" />
            <button @@click="searchForUsers()">Search</button>
        </div>
        <div>
            <label class="preference" for="paginatePreference">Paginate results</label>
            <input id="paginatePreference" type="checkbox" name="paginatePreference" v-model="currentUserSearch.paginate" />
            
            <label class="preference" for="pageSize">Result size</label>
            <input id="pageSize" type="number" name="pageSize" v-model="currentUserSearch.pageSize" />

            <button @@click="currentUserSearch.clearResults()">Clear Results</button>
        </div>
        <ul class="no-bullets">
            <li v-for="value in currentUserSearch.results">
                {{value.Upn}}
            </li>
        </ul>
    </div>

    <div id="issueForm">
        <button @@click="newIssueEntry()">New Issue</button>
        <strong>Issue</strong>
        <div id="issueFields">
            
            <div class="preference form-group" v-for="(value, field, index) in currentIssue.model"> 
                <label for="issue-{{field}}">{{field}}</label>
                <input type="text" name="issue-{{field}}" 
                    id="issue-{{field}}" readonly="{{!this.currentIssue.edit}}"/>
            </div>

            
        </div>
    </div>

</div>