@page
@model IndexModel
@{
    ViewData["Title"] = "McAttributes";
}

<div id="app">
    
    <button @@click="newIssueEntry()">New Issue</button>
    <div id="issueForm">
        <strong>Issue</strong>
        <div id="issueFields">
            <ul>
                <li v-for="(value, field, index) in currentIssue.model">
                    <div class="preference"> 
                        <label for="issue-{{field}}">{{field}}</label>
                        <input type="text" name="issue-{{field}}" id="issue-{{field}}" readonly="{{!this.currentIssue.edit}}"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>