@page
@model IndexModel
@{
    ViewData["Title"] = "McAttributes";
}

<div id="app">

<div>
    <!-- Tabs -->
    <div>
        <ul class="nav nav-tabs" id="navTabs" role="tablist">
             <li class="nav-item"   role="tab">
                <a class="nav-link active" id="user-tab" data-bs-toggle="tab" href="#userForm" aria-current="page" aria-controls="User Search" aria-selected="true">User Search</a>
            </li>

            <li class="nav-item"  role="tab">
                <a class="nav-link" id="issue-tab" data-bs-toggle="tab" href="#issueForm" aria-controls="Issue Form" aria-selected="false">Issue Form</a>
            </li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="myTabContent" class="tab-content">
        <div id="userForm" class="tab-pane active" role="tabpanel" aria-labelledby="user-tab">

            <!-- User search input field -->
            <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="search" name="search-input" v-on:keyup.enter="searchForUsers()" v-model="currentUserSearch.searchTerm" />
                <button class="button input-group-text" @@click="searchForUsers()">Search</button>
            </div>

            <!-- Search configuration options: pagination, result page size, clear button -->
            <div>
                <label class="preference" for="paginatePreference">Paginate results</label>
                <input id="paginatePreference" type="checkbox" name="paginatePreference" v-model="currentUserSearch.paginate" />
            </div>
            <div>
                <label class="preference" for="pageSize">Result size</label>
                <input id="pageSize" type="number" name="pageSize" v-model="currentUserSearch.pageSize" />
            </div>
            <div>
                <label v-if="currentUserSearch.resultCount">Total Results: {{currentUserSearch.resultCount}}</label>
                <br />
                <label v-if="currentUserSearch.results">Results Fetched: {{currentUserSearch.results.length}}</label>
            </div>
            <div>
                <button v-if="currentUserSearch.resultCount > 0" class="btn btn-outline-warning" @@click="currentUserSearch.clearResults()">Clear Results</button>
            </div>
            
            <!-- User search results -->
            <button class="btn btn-link" id="btnLoadMore" v-if="currentUserSearch.resultCount > currentUserSearch.results.length" @@click="loadMoreUserResults()">Load More</button>

            <table class="table">
                <tr>
                    <th v-for="(value, key, i) in currentUserSearch.results[0]">{{ expandOnCase(key) }}</td>
                </tr>
                <tr v-for="value of currentUserSearch.results">
                    <td v-for="(val, key, i) in value">{{ val }}</td>
                </tr>
            </table>

            <button class="btn btn-link" id="btnLoadMore" v-if="currentUserSearch.resultCount > currentUserSearch.results.length" @@click="loadMoreUserResults()">Load More</button>
        </div>

        <div id="issueForm" class="tab-pane" role="tabpanel" aria-labelledby="issue-tab">
            <button class="btn btn-primary" @@click="newIssueEntry()">New Issue</button>
            <strong>Issue</strong>
            <div id="issueFields">
                
                <div class="preference form-group" v-for="(value, field, index) in currentIssue.model"> 
                    <label for="issue-{{field}}">{{field}}</label>
                    <input type="text" name="issue-{{field}}" 
                        id="issue-{{field}}" readonly="{{!this.currentIssue.edit}}"/>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>