@page
@model IndexModel
@{
    ViewData["Title"] = "McAttributes";
}

@if (User.Identity?.IsAuthenticated == true) {
    @await Html.PartialAsync("_VueApp")
} else {
    <div class="col text-center">
        <a class="btn btn-warning" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in first!</a>
    </div>
}
