@page
@model McAttributes.Pages.UserIssues.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IssueLogEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entry.Id" />
            <div class="form-group">
                <label asp-for="Entry.AttrName" class="control-label"></label>
                <input asp-for="Entry.AttrName" class="form-control" />
                <span asp-validation-for="Entry.AttrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Created" class="control-label"></label>
                <input asp-for="Entry.Created" class="form-control" />
                <span asp-validation-for="Entry.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.AlertHash" class="control-label"></label>
                <input asp-for="Entry.AlertHash" class="form-control" />
                <span asp-validation-for="Entry.AlertHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Status" class="control-label"></label>
                <select asp-for="Entry.Status" class="form-select" >
                    <option value="review">Needs Review</option>
                    <option value="resolved">Resolved</option>
                    <option value="denied">Denied</option>
                </select>
                <span asp-validation-for="Entry.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Description" class="control-label"></label>
                <textarea asp-for="Entry.Description" class="form-control" rows="5" readonly="true"></textarea>
                <span asp-validation-for="Entry.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Notes" class="control-label"></label>
                <textarea id="notesArea" asp-for="Entry.Notes" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Entry.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <button class="btn btn-outline-primary" onclick="appendDefaultReviewText()">Add Default Review Text</button>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
<script type="text/javascript">
    let defaultReviewText = '@Html.Raw(Model.DefaultReviewNote)';

    function appendDefaultReviewText() {
        var notes = document.getElementById('notesArea');
        var notesText = notes.value;
        if (notesText.length > 0) {
            notesText = notesText + "\n";
        }
        notesText = notesText + defaultReviewText;
        notes.value = notesText;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
