@page
@model McAttributes.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.LastFetched" class="control-label"></label>
                <input asp-for="User.LastFetched" class="form-control" />
                <span asp-validation-for="User.LastFetched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Merged" class="control-label"></label>
                <input asp-for="User.Merged" class="form-control" />
                <span asp-validation-for="User.Merged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Modified" class="control-label"></label>
                <input asp-for="User.Modified" class="form-control" />
                <span asp-validation-for="User.Modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Created" class="control-label"></label>
                <input asp-for="User.Created" class="form-control" />
                <span asp-validation-for="User.Created" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.Enabled" /> @Html.DisplayNameFor(model => model.User.Enabled)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.Deleted" /> @Html.DisplayNameFor(model => model.User.Deleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.Tenant" class="control-label"></label>
                <input asp-for="User.Tenant" class="form-control" />
                <span asp-validation-for="User.Tenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.AadId" class="control-label"></label>
                <input asp-for="User.AadId" class="form-control" />
                <span asp-validation-for="User.AadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Upn" class="control-label"></label>
                <input asp-for="User.Upn" class="form-control" />
                <span asp-validation-for="User.Upn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Mail" class="control-label"></label>
                <input asp-for="User.Mail" class="form-control" />
                <span asp-validation-for="User.Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DisplayName" class="control-label"></label>
                <input asp-for="User.DisplayName" class="form-control" />
                <span asp-validation-for="User.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.EmployeeId" class="control-label"></label>
                <input asp-for="User.EmployeeId" class="form-control" />
                <span asp-validation-for="User.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.AdEmployeeId" class="control-label"></label>
                <input asp-for="User.AdEmployeeId" class="form-control" />
                <span asp-validation-for="User.AdEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.HrEmployeeId" class="control-label"></label>
                <input asp-for="User.HrEmployeeId" class="form-control" />
                <span asp-validation-for="User.HrEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Wid" class="control-label"></label>
                <input asp-for="User.Wid" class="form-control" />
                <span asp-validation-for="User.Wid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CreationType" class="control-label"></label>
                <input asp-for="User.CreationType" class="form-control" />
                <span asp-validation-for="User.CreationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Company" class="control-label"></label>
                <input asp-for="User.Company" class="form-control" />
                <span asp-validation-for="User.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PreferredGivenName" class="control-label"></label>
                <input asp-for="User.PreferredGivenName" class="form-control" />
                <span asp-validation-for="User.PreferredGivenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PreferredSurname" class="control-label"></label>
                <input asp-for="User.PreferredSurname" class="form-control" />
                <span asp-validation-for="User.PreferredSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Articles" class="control-label"></label>
                <input asp-for="User.Articles" class="form-control" />
                <span asp-validation-for="User.Articles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Pronouns" class="control-label"></label>
                <input asp-for="User.Pronouns" class="form-control" />
                <span asp-validation-for="User.Pronouns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
